@use 'variables';
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 5rem;
    background: black;
    color:white;

    @media (max-width: 780px){
      padding: 1rem;
    }

    
    &__recent{
        padding: 0;
        width: 100%;
        
        &__cards{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 2rem;
            width: 100%;
            list-style-type: none;

            @media (max-width: 780px){
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            &__item{
                display: flex;
                flex-direction: column;
                background-color: rgb(31,31,31);
                border-radius: 4px;

                @media (max-width: 780px){
                    width: 8rem;
                }
                
                img{
                    max-width: 12rem;
                    @media (max-width: 780px){
                        max-width: 100%;
                    }
                }
                span{
                    padding: 1rem 0.5rem;
                }

                
            }

        }

        &__title{
            margin-bottom: 2rem;
        }


    }

    &__links{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-top: 5rem;
        gap: 2rem;
        width: 100%;
        justify-content: center;

        &__item{
            display: flex;
            align-items: center;
            gap: 0.3rem;

            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
            }
        }
    }
    small{
        margin: 0 auto;
        margin-top: 3rem;
        color: variables.$text-color-tertiary;
    }
}