@use 'variables';

.hero{
    position:relative;
    padding-top: 20vh;
    padding-left: 5vw;
    width: 100vw;
    height: 100vh;
    background-image: url(../../dist/images/hero_desktop2.jpg);
    background-size: cover;
    
    &__container{
        display:flex;

        flex-direction: column;
        padding: 1rem;
        width: 550px;

    }
    &__title{
        color:#FFF;
        font-family: 'Benguiat Bold';
        font-size: 4.5rem;
    }
    &__tags{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;

        &__tag{
            display:flex;
            align-items: center;
            color:variables.$text-color-secondary;
            font-family: 'Poppins', sans-serif;
            font-size: 0.89rem;
            gap: 0.5rem;

            img{
                width: 2.3rem;
            }

        }
        
    }
    &__sinopsys{
        color: rgb(211, 211, 211);
        font-family: 'Quicksand';
    
    }
    &__buttons{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;

        .button{
            display: flex;
            align-items: center;
            background:none;
            border-radius: 25px;
            padding: 0.7rem 1.2rem;
            color: white;
            border: 1px solid white;
            
            &--no-border{
                border:none;
            }
            &--secondary-btn{
                color:rgb(160, 160, 160);
            }
            
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;
                
                &--red{
                    color:red;

                }
            }
        }
    }



    
}