@use "variables";
@use "imports";
@use "./components/scrollbar";
@use "./components/header";
@use "./sections/hero";
@use "./sections/about";
@use "./sections/_episodes";
@use "./sections/explore";
@use "./sections/videos";

@mixin text($font-size) {
  font-size: $font-size;
  line-height: $font-size + 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.text--big {
  @include text(17px);
}

.text {
  @include text(16px);
  letter-spacing: 1px;

  &--is-bold {
    font-weight: bold;
  }
  &--is-secondary {
    color: variables.$text-color-secondary;
  }
  &--is-link {
    text-decoration: none;
    color: rgb(0, 129, 208);
  }
}

body {
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}
.divider {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.193);
}

section {
  padding: 1.5rem 5rem;
}

.content__row {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;

  section {
    padding: 0;
    margin-bottom: 4rem;
  }
  .content__column-6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
  .content__column-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border-left: 4px solid variables.$accent-color;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
